/* Base */
a,
.btn-link {
	color: #d00002;
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
	color: #ea0002;
}

a:active,
.btn-link:active {
	color: #b70002;
}
/* Sidebar Left */
.sidebar-left .sidebar-header .sidebar-toggle:hover i {
	color: #d00002;
}

@media only screen and (min-width: 768px) {
	html.sidebar-left-collapsed.scroll .sidebar-left .nav-main li.nav-active a:hover,
  html.sidebar-left-collapsed.boxed .sidebar-left .nav-main li.nav-active a:hover {
		color: #d00002;
	}

	html.sidebar-left-collapsed.scroll .sidebar-left .nav-main > li:hover > a span.label,
  html.sidebar-left-collapsed.boxed .sidebar-left .nav-main > li:hover > a span.label {
		background-color: #d00002;
	};
}
/* Layout Boxed - small than min-width */
@media only screen and (max-width: 1199px) {
	html.boxed .header {
		border-top-color: #d00002;
	};
}
/* Layout Boxed - larger or equal min width */
@media only screen and (min-width: 1200px) {
	html.boxed .header {
		border-top-color: #d00002;
	}

	html.boxed .sidebar-right {
		border-top-color: #d00002;
		min-height: 0;
	};
}
/* Userbox - Open */
.userbox.open .dropdown-menu a:hover {
	background: #d00002;
}
/* Mailbox */
.mailbox .mailbox-mail-list li.active {
	background: #d00002;
}

.mailbox .mailbox-mail .mailbox-close-mail {
	color: #d00002;
}

.mailbox .mailbox-mail .mailbox-close-mail:hover {
	color: #ea0002;
}

.mailbox .mailbox-mail .panel .panel-heading .panel-actions a:hover {
	color: #d00002;
}
/* Media Gallery */
.media-gallery ul.mg-tags > li a:hover {
	background-color: #d00002;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-zoom {
	background-color: #d00002;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-toolbar {
	background-color: #d00002;
}

.media-gallery .mg-files .thumbnail.thumbnail-selected {
	box-shadow: 0 0 8px -1px #d00002;
}
/* Sign Screens - Wrappers */
.body-sign .panel-sign .panel-title-sign .title {
	background-color: #d00002;
}

.body-sign .panel-sign .panel-body {
	border-top-color: #d00002;
}
/* Lock Screen */
.body-locked .current-user .user-image {
	border-color: #d00002;
}
/* Blockquote */
blockquote.primary {
	border-color: #d00002;
}
/* Nav Pills */
.nav-pills-primary > li a:hover,
.nav-pills-primary > li a:focus {
	color: #d00002;
	background-color: #ffd0d0;
}

.nav-pills-primary > li.active > a,
.nav-pills-primary > li.active > a:hover,
.nav-pills-primary > li.active > a:active,
.nav-pills-primary > li.active > a:focus {
	background-color: #d00002;
}
/* Dropdown Menu */
.dropdown-menu  > .active  > a,
.dropdown-menu  > .active  > a:hover,
.dropdown-menu  > .active  > a:focus {
	background-color: #d00002;
}

.open > .dropdown-toggle.btn-primary {
	background: #d00002;
	border-color: #b70002;
}

body .btn-primary.dropdown-toggle {
	border-left-color: #f90002;
}
/* Buttons */
body .btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d00002;
	border-color: #d00002;
}

body .btn-primary:hover {
	border-color: #ea0002 !important;
	background-color: #ea0002;
}

body .btn-primary:active,
body .btn-primary:focus {
	border-color: #b70002 !important;
	background-color: #b70002;
}

body .btn-primary[disabled] {
	border-color: #ff3739 !important;
	background-color: #ff3739;
}

body .btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #47a447;
	border-color: #47a447;
}

body .btn-success:hover {
	border-color: #51b451 !important;
	background-color: #51b451;
}

body .btn-success:active,
body .btn-success:focus {
	border-color: #3f923f !important;
	background-color: #3f923f;
}

body .btn-success[disabled] {
	border-color: #86cb86 !important;
	background-color: #86cb86;
}

body .btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ed9c28;
	border-color: #ed9c28;
}

body .btn-warning:hover {
	border-color: #efa740 !important;
	background-color: #efa740;
}

body .btn-warning:active,
body .btn-warning:focus {
	border-color: #e89113 !important;
	background-color: #e89113;
}

body .btn-warning[disabled] {
	border-color: #f5c786 !important;
	background-color: #f5c786;
}

body .btn-danger {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d2322d;
	border-color: #d2322d;
}

body .btn-danger:hover {
	border-color: #d64742 !important;
	background-color: #d64742;
}

body .btn-danger:active,
body .btn-danger:focus {
	border-color: #bd2d29 !important;
	background-color: #bd2d29;
}

body .btn-danger[disabled] {
	border-color: #e48481 !important;
	background-color: #e48481;
}

body .btn-info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bc0de;
	border-color: #5bc0de;
}

body .btn-info:hover {
	border-color: #70c8e2 !important;
	background-color: #70c8e2;
}

body .btn-info:active,
body .btn-info:focus {
	border-color: #46b8da !important;
	background-color: #46b8da;
}

body .btn-info[disabled] {
	border-color: #b0e1ef !important;
	background-color: #b0e1ef;
}

body .btn-dark {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #171717;
	border-color: #171717;
}

body .btn-dark:hover {
	border-color: #242424 !important;
	background-color: #242424;
}

body .btn-dark:active,
body .btn-dark:focus {
	border-color: #0a0a0a !important;
	background-color: #0a0a0a;
}

body .btn-dark[disabled] {
	border-color: #4a4a4a !important;
	background-color: #4a4a4a;
}
/* Switch*/
.switch.switch-primary .ios-switch .on-background {
	background: #d00002;
}
/* Label */
.label-primary {
	background: #d00002;
}
/* Text Primary */
.text-primary {
	color: #d00002 !important;
}
/* BG Primary */
.bg-primary {
	background: #d00002;
}
/* Alternative Font Style */
.alternative-font {
	color: #d00002;
}
/* Hightlight */
.highlight {
	background-color: #d00002;
}
/* Drop Caps */
p.drop-caps.colored:first-child:first-letter {
	color: #d00002;
}

p.drop-caps.colored.secundary:first-child:first-letter {
	background-color: #d00002;
}
/* Well */
.well.primary {
	background: #d00002;
	border-color: #9d0002;
}
/* Form */
.form-control:focus {
	border-color: #ff3739;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(208, 0, 2, 0.3);
}
/* Header */
.header .toggle-sidebar-left {
	background: #d00002;
}
/* Page Header */
.page-header h2 {
	border-bottom-color: #d00002;
}

.page-header .sidebar-right-toggle:hover {
	color: #d00002;
}
/* Navigation */
ul.nav-main > li.nav-active > a {
	box-shadow: 2px 0 0 #d00002 inset;
}

ul.nav-main > li.nav-active > i {
	color: #d00002;
}

ul.nav-main li .nav-children li.nav-active > a {
	color: #d00002;
}

html.sidebar-light:not(.dark) ul.nav-main > li.nav-active > a {
	color: #d00002;
}
/* Nano Scroller Plugin */
html.no-overflowscrolling .nano > .nano-pane > .nano-slider {
	background: #d00002;
}
/* Nav Pills */
.nav-pills > .active a,
.nav-pills > .active a:hover,
.nav-pills > .active a:focus {
	background-color: #d00002;
}
/* Pagination */
.pagination > li a {
	color: #d00002;
}

.pagination > li a:hover,
.pagination > li a:focus {
	color: #ea0002;
}

.pagination > li.active a,
.pagination > li.active span,
.pagination > li.active a:hover,
.pagination > li.active span:hover,
.pagination > li.active a:focus,
.pagination > li.active span:focus {
	background-color: #d00002;
	border-color: #d00002;
}

.pagination > li.active a {
	background-color: #d00002;
}

html .pagination > li.active a,
html.dark .pagination > li.active a,
html .pagination > li.active span,
html.dark .pagination > li.active span,
html .pagination > li.active a:hover,
html.dark .pagination > li.active a:hover,
html .pagination > li.active span:hover,
html.dark .pagination > li.active span:hover,
html .pagination > li.active a:focus,
html.dark .pagination > li.active a:focus,
html .pagination > li.active span:focus,
html.dark .pagination > li.active span:focus {
	background-color: #d00002;
	border-color: #d00002;
}

html .pagination > li.active a,
html.dark .pagination > li.active a {
	background-color: #d00002;
}
/* Fullcalendar */
.fc .fc-toolbar h2:before {
	color: #d00002;
}

.fc .fc-toolbar .fc-button.fc-state-active {
	background-color: #d00002;
}

.fc-event {
	background: #d00002;
	border-color: #d00002;
}

.fc-event.fc-event-primary {
	background: #d00002;
	border-color: #d00002;
}
/* Maps */
.jqvmap-zoomin,
.jqvmap-zoomout {
	background: #d00002;
}
/* Timeline */
.timeline .tm-items > li .tm-datetime .tm-datetime-time {
	color: #d00002;
}

.timeline .tm-items > li .tm-icon {
	border-color: #d00002;
	color: #d00002;
}

.timeline.timeline-simple .tm-body .tm-items > li:before {
	background: #d00002;
	box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #d00002;
}

html.dark .timeline.timeline-simple .tm-body .tm-items > li:before {
	background: #d00002;
	box-shadow: 0 0 0 3px #2e353e, 0 0 0 6px #d00002;
}
/* Princing Table */
.pricing-table h3 span {
	color: #d00002;
}

.pricing-table .most-popular h3 {
	background-color: #d00002 !important;
	color: #FFF !important;
}
/* Data Tables Loading */
.dataTables_processing {
	background-color: #d00002;
}
/* Accordion */
.panel-group .panel-accordion .panel-heading a {
	color: #d00002;
}
/* Alerts */
.alert-primary {
	background-color: #d00002;
	border-color: #c10002;
}

.alert-primary .alert-link {
	color: #6a0001;
}
/* Nestable */
.dd-handle:hover {
	color: #d00002 !important;
}

.dd-placeholder {
	background: #ffeaea;
	border-color: #d00002;
}
/* Panels */
.panel-highlight .panel-heading {
	background-color: #d00002;
	border-color: #d00002;
}

.panel-highlight .panel-body {
	background-color: #d00002;
}

html .panel-primary .panel-heading {
	background: #d00002;
	border-color: #d00002;
}

.panel-heading.bg-primary {
	background: #d00002;
}

.panel-body.bg-primary {
	background: #d00002;
}

.panel-featured-primary {
	border-color: #d00002;
}

.panel-featured-primary .panel-title {
	color: #d00002;
}

.panel-heading-icon.bg-primary {
	background: #d00002;
}

.panel-group .panel-accordion-primary .panel-heading .panel-title a {
	background: #d00002;
}

/* Toggle */
.toggle label {
	border-left-color: #d00002;
	color: #d00002;
}

.toggle.active > label {
	background: #d00002 !important;
	border-color: #d00002;
}
/* Treeview */
.jstree-default .jstree-hovered {
	background-color: #ffeaea !important;
}

.jstree-default .jstree-clicked {
	background-color: #ffb7b7 !important;
}

.jstree-default .colored {
	color: #d00002 !important;
}

.jstree-default .colored .jstree-icon {
	color: #d00002 !important;
}

.jstree-default .colored-icon .jstree-icon {
	color: #d00002 !important;
}
/* Widgets */
.sidebar-widget.widget-tasks ul li:before {
	border-color: #d00002;
}

.widget-twitter-profile {
	background-color: #0088cc;
}

.widget-twitter-profile .profile-quote {
	background-color: #0096e0;
}

.widget-twitter-profile .profile-quote .quote-footer {
	border-top-color: rgba(0, 170, 255, 0.7);
}

.widget-profile-info .profile-info .profile-footer {
	border-top-color: rgba(255, 4, 6, 0.7);
}
/* Thumb Info */
.thumb-info .thumb-info-type {
	background-color: #d00002;
}
/* Social Icons */
.social-icons-list a {
	background: #d00002;
}
/* Notifications */
.notifications .notification-menu .notification-title {
	background: #d00002;
}

.notifications .notification-menu .notification-title .label-default {
	background-color: #9d0002;
}

.notifications .notification-menu:before,
.notifications .notification-icon:before {
	border-bottom-color: #d00002;
}

.ui-pnotify .notification-primary {
	background: rgba(208, 0, 2, 0.95);
}

.ui-pnotify.stack-bar-top .notification-primary,
.ui-pnotify.stack-bar-bottom .notification-primary {
	background: #d00002;
}

.ui-pnotify.notification-primary .notification,
.ui-pnotify.notification-primary .notification-primary {
	background: rgba(208, 0, 2, 0.95);
}

.ui-pnotify.notification-primary.stack-bar-top .notification,
.ui-pnotify.notification-primary.stack-bar-bottom .notification,
.ui-pnotify.notification-primary.stack-bar-top .notification-primary,
.ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
	background: #d00002;
}
/* Modal */
.modal-block-primary .fa {
	color: #d00002;
}

.modal-block-primary.modal-header-color .panel-heading {
	background-color: #d00002;
}

.modal-block-primary.modal-full-color .panel {
	background-color: #f90002;
}

.modal-block-primary.modal-full-color .panel-heading {
	background-color: #d00002;
}

.modal-block-primary.modal-full-color .panel-footer {
	background-color: #f90002;
}
/* Modal Icon */
.modal-block-primary .modal-icon .fa {
	color: #d00002;
}
/* Tabs */
html body .tabs-primary .nav-tabs li a,
html.dark body .tabs-primary .nav-tabs li a,
html body .tabs-primary .nav-tabs.nav-justified li a,
html.dark body .tabs-primary .nav-tabs.nav-justified li a,
html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
	color: #d00002;
}

html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
	border-top-color: #d00002;
}

html body .tabs-primary .nav-tabs li.active a,
html.dark body .tabs-primary .nav-tabs li.active a,
html body .tabs-primary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a,
html body .tabs-primary .nav-tabs li.active a:hover,
html.dark body .tabs-primary .nav-tabs li.active a:hover,
html body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary .nav-tabs li.active a:focus,
html.dark body .tabs-primary .nav-tabs li.active a:focus,
html body .tabs-primary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus {
	border-top-color: #d00002;
	color: #d00002;
}

html body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover {
	border-bottom-color: #d00002;
}

html body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
	border-top-color: #FFF;
	border-bottom-color: #d00002;
}

html body .tabs-primary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li a:hover {
	border-left-color: #d00002;
}

html body .tabs-primary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:focus {
	border-left-color: #d00002;
}

html body .tabs-primary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li a:hover {
	border-right-color: #d00002;
}

html body .tabs-primary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:focus {
	border-right-color: #d00002;
}
/* Simple List */
ul.simple-bullet-list li:before {
	border-color: #d00002;
}
/* Simple Card List */
.simple-card-list li.primary {
	background: #d00002;
}
/* Search Results */
.search-content .search-toolbar .nav-pills li.active a {
	color: #d00002;
	border-bottom-color: #d00002;
}

.search-results-list .result-thumb .fa {
	background: #d00002;
}
/* Scrollable */
.scrollable.colored-slider .scrollable-slider {
	background: #d00002;
}

html.dark .search-content .search-toolbar .nav-pills li.active a,
html.dark .search-content .search-toolbar .nav-pills li.active a:hover,
html.dark .search-content .search-toolbar .nav-pills li.active a:focus {
	color: #d00002;
	border-bottom-color: #d00002;
}
/* Time Picker */
.bootstrap-timepicker-widget table td a:hover {
	background-color: #d00002;
}

/* Zoom */
.img-thumbnail .zoom {
	background: #d00002;
}
/* Owl Carousel */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #b10002;
}

.owl-theme .owl-nav [class*="owl-"] {
	background: #d00002;
}

.owl-theme .owl-nav [class*="owl-"]:focus,
.owl-theme .owl-nav [class*="owl-"]:hover {
	background-color: #ef0002;
}
/* Chartist */
.ct-chart .tooltip {
	background: #d00002;
}

.ct-chart .tooltip:after {
	border-top-color: #d00002;
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
	stroke: #d00002;
}

.ct-chart .ct-series.ct-series-a .ct-area,
.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
	fill: #d00002;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
	stroke: #840001;
}

.ct-chart .ct-series.ct-series-b .ct-area,
.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
	fill: #840001;
}

.ct-chart .ct-series.ct-series-i .ct-bar,
.ct-chart .ct-series.ct-series-i .ct-line,
.ct-chart .ct-series.ct-series-i .ct-point,
.ct-chart .ct-series.ct-series-i .ct-slice.ct-donut {
	stroke: #840001;
}

.ct-chart .ct-series.ct-series-i .ct-area,
.ct-chart .ct-series.ct-series-i .ct-slice:not(.ct-donut) {
	fill: #840001;
}

.ct-chart .ct-series.ct-series-j .ct-bar,
.ct-chart .ct-series.ct-series-j .ct-line,
.ct-chart .ct-series.ct-series-j .ct-point,
.ct-chart .ct-series.ct-series-j .ct-slice.ct-donut {
	stroke: #ff1e20;
}

.ct-chart .ct-series.ct-series-j .ct-area,
.ct-chart .ct-series.ct-series-j .ct-slice:not(.ct-donut) {
	fill: #ff1e20;
}

.ct-chart .ct-series.ct-series-n .ct-bar,
.ct-chart .ct-series.ct-series-n .ct-line,
.ct-chart .ct-series.ct-series-n .ct-point,
.ct-chart .ct-series.ct-series-n .ct-slice.ct-donut {
	stroke: #1e0000;
}

.ct-chart .ct-series.ct-series-n .ct-area,
.ct-chart .ct-series.ct-series-n .ct-slice:not(.ct-donut) {
	fill: #1e0000;
}

.ct-chart .ct-series.ct-series-o .ct-bar,
.ct-chart .ct-series.ct-series-o .ct-line,
.ct-chart .ct-series.ct-series-o .ct-point,
.ct-chart .ct-series.ct-series-o .ct-slice.ct-donut {
	stroke: #ff8485;
}

.ct-chart .ct-series.ct-series-o .ct-area,
.ct-chart .ct-series.ct-series-o .ct-slice:not(.ct-donut) {
	fill: #ff8485;
}
/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
	background: #d00002;
	border-color: #b70002;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
	color: #d00002;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
	background: #d00002;
	-webkit-box-shadow: 0px 0px 1px #d00002;
	box-shadow: 0px 0px 1px #d00002;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
	background: #d00002;
}

/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
	background: #d00002;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(left, #ff0406 0, #d00002 50%, #9d0002 100%);
	background-image: linear-gradient(left, #ff0406 0, #d00002 50%, #9d0002 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(to right, #ff0406 0, #d00002 50%, #9d0002 100%);
	background-image: linear-gradient(to right, #ff0406 0, #d00002 50%, #9d0002 100%);
}
/* DatePicker */
.datepicker table {
	width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
	background: #d00002;
}

.datepicker table thead tr:first-child th:hover {
	background: #d00002;
}

.datepicker table tr td span:hover {
	background: #d00002;
}

.datepicker table tr td.day:hover {
	background: #d00002;
}

.datepicker table tfoot tr th:hover {
	background: #d00002;
}
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
	background: #d00002;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
	background: #d00002;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
	background: #d00002;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
	background-color: #d00002;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
	background-color: #9d0002;
}

.datepicker.datepicker-primary table thead tr:last-child {
	background-color: #ea0002;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
	background-color: #d00002;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
	background: #d00002;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
	background: #d00002;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
	background: #d00002;
}
/* Wizard */
.wizard-steps > li.active .badge {
	background-color: #d00002;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
	border-top-color: #d00002;
}

.wizard-tabs ul > li.active .badge {
	background-color: #d00002;
}

/*ProgressBar*/
.progress-bar {

	background: #CCC;

}
.progress .progress-bar {

	box-shadow: none;

	border-radius: 4px;

}
.progress {

	background: #474453;

	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4) inset;

}
.progress.light {

	background: #f6f7f8;

	background: -webkit-linear-gradient(#F6F7F8, #F6F7F8 10%, #f5f5f5 11%);

	background: linear-gradient(#F6F7F8, #F6F7F8 10%, #f5f5f5 11%);

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;

}
.progress-squared, .progress-squared .progress-bar {

	border-radius: 0 !important;

}
.progress-xs {

	height: 7px;

}



.progress-xs, .progress-xs .progress-bar {

	border-radius: 7px;

}



.progress-xs .progress-bar {

	direction: ltr !important;

	text-indent: -9999px;

}



.progress-xs.progress-half-rounded, .progress-xs.progress-half-rounded .progress-bar {

	border-radius: 2px;

}



.progress-xs.progress-striped .progress-bar {

	background-size: 15px 15px;

}



.progress-sm {

	border-radius: 12px;

	height: 12px;

}



.progress-sm, .progress-sm .progress-bar {

	border-radius: 12px;

}



.progress-sm .progress-bar {

	font-size: 10px;

	line-height: 12px;

}



.progress-sm.progress-half-rounded, .progress-sm.progress-half-rounded .progress-bar {

	border-radius: 4px;

}



.progress-sm.progress-striped .progress-bar {

	background-size: 20px 20px;

}



.progress-md {

	border-radius: 14px;

	height: 14px;

}



.progress-md, .progress-md .progress-bar {

	border-radius: 14px;

}



.progress-md .progress-bar {

	font-size: 11px;

	line-height: 14px;

}



.progress-md.progress-half-rounded, .progress-md.progress-half-rounded .progress-bar {

	border-radius: 4px;

}



.progress-md.progress-striped .progress-bar {

	background-size: 25px 25px;

}



.progress-lg {

	border-radius: 16px;

	height: 16px;

}



.progress-lg, .progress-lg .progress-bar {

	border-radius: 16px;

}



.progress-lg .progress-bar {

	line-height: 16px;

}



.progress-lg.progress-half-rounded, .progress-lg.progress-half-rounded .progress-bar {

	border-radius: 5px;

}



.progress-lg.progress-striped .progress-bar {

	background-size: 30px 30px;

}



.progress-xl {

	border-radius: 18px;

	height: 18px;

}



.progress-xl, .progress-xl .progress-bar {

	border-radius: 18px;

}



.progress-xl .progress-bar {

	line-height: 18px;

}



.progress-xl.progress-half-rounded, .progress-xl.progress-half-rounded .progress-bar {

	border-radius: 6px;

}



.progress-xl.progress-striped .progress-bar {

	background-size: 35px 35px;

}
.progress .progress-bar-primary {

	background-color: #CCC;

}



.progress .progress-bar-success {

	background-color: #47a447;

}



.progress .progress-bar-warning {

	background-color: #ed9c28;

}



.progress .progress-bar-danger {

	background-color: #d2322d;

}



.progress .progress-bar-info {

	background-color: #5bc0de;

}



.progress .progress-bar-dark {

	background-color: #171717;

}

#nprogress {

	pointer-events: none;

}
#nprogress .bar {

	background: #CCC;

	position: fixed;

	z-index: 1031;

	top: 0;

	left: 0;

	width: 100%;

	height: 2px;

}


/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
	background-color: #d00002;
}
/* Data Tables Loading */
.dataTables_processing {
	background-color: #d00002;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
	color: #d00002;
}

.img-rounded,
.img-thumbnail,
.img-thumbnail img,
code,
pre,
.form-control,
.input-sm,
.form-group-sm .form-control,
.input-lg,
.form-group-lg .form-control,
.btn,
.btn-group-lg > .btn,
.btn-sm,
.btn-group-sm > .btn,
.btn-xs,
.btn-group-xs > .btn,
.dropdown-menu,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.input-group-addon,
.input-group-addon.input-sm,
.input-group-addon.input-lg,
.input-group-rounded input.form-control:first-child,
.input-group-rounded input.form-control:last-child,
.input-search input.form-control:first-child,
.input-search input.form-control:last-child,
.checkbox-custom label::before,
.nav-tabs > li > a,
.nav-tabs.nav-justified > li > a,
.nav-pills > li > a,
.nav-tabs-justified > li > a,
.navbar,
.navbar-toggle,
.navbar-toggle .icon-bar,
.breadcrumb,
.pagination,
.pager li > a,
.pager li > span,
.label,
.badge,
.container .jumbotron,
.container-fluid .jumbotron,
.thumbnail,
.alert,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br,
.panel,
.panel-group .panel,
.panel-heading + .panel-body,
.panel-heading,
.panel-body,
.panel-group .panel-accordion .panel-body,
.panel-footer,
.panel-horizontal .panel-heading + .panel-body,
.panel-horizontal .panel-heading,
.panel-group .panel-accordion .panel-heading,
html .panel .panel-heading-transparent + .panel-body,
.panel-group .panel-accordion .panel-heading a,
.panel-group .panel-accordion.panel-accordion-first .panel-heading,
.well,
.well-lg,
.well-sm,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span,
.input-group-icon input.form-control:first-child,
.input-group-icon input.form-control:last-child,
.input-search input.form-control:first-child,
.input-search input.form-control:last-child {
	border-radius: 0;
}

.body-sign .panel-sign .panel-title-sign .title,
.body-sign .panel-sign .panel-body,
.sidebar-left .sidebar-header .sidebar-toggle,
.simple-compose-box,
.timeline .tm-title,
ul.simple-card-list li,
.timeline .tm-items > li .tm-box,
.rounded,
.fc .fc-toolbar .fc-button,
.fc-event,
.fc-state-default.fc-corner-right,
.media-gallery ul.mg-tags > li a,
.media-gallery .mg-files .thumbnail,
.media-gallery .mg-files .thumbnail .thumb-preview img,
.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-zoom,
html .scroll-to-top,
.style-switcher .style-switcher-open,
.style-switcher .options-links a,
.search-results-list a,
p.drop-caps.secundary:first-child::first-letter,
.tabs,
.nav-tabs li a,
.tab-content,
.tabs.tabs-bottom .tab-content,
.tabs.tabs-bottom .nav-tabs li a,
.tabs-left .tab-content,
.tabs-left .nav-tabs > li:first-child a,
.tabs-left .nav-tabs > li:last-child a,
.tabs-right .tab-content,
.tabs-right .nav-tabs > li:first-child a,
.tabs-right .nav-tabs > li:last-child a,
.nav-tabs.nav-justified li:first-child a,
.nav-tabs.nav-justified li:first-child a:hover,
.nav-tabs.nav-justified li:last-child a,
.nav-tabs.nav-justified li:last-child a:hover,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a,
.tabs-navigation,
.tabs-navigation .nav-tabs > li:first-child a,
.tabs-navigation .nav-tabs > li:last-child a,
.toggle > label,
.toggle.toggle-simple .toggle > label,
.toggle.toggle-simple .toggle > label:after,
.pricing-table h3,
.pricing-table .plan,
.widget-twitter-profile .profile-quote,
.btn-group-vertical > .btn:first-child:not(:last-child),
.btn-group-vertical > .btn:last-child:not(:first-child),
.btn-group-vertical > .btn:first-child:not(:last-child),
.btn-group-vertical > .btn:last-child:not(:first-child),
.ui-pnotify .notification,
.owl-theme .owl-nav [class*="owl-"],
.dd-handle,
.scrollable .scrollable-slider,
.form-group-vertical .form-control:first-child,
.form-group-vertical .form-control:first-of-type,
.form-group-vertical .form-control:last-child,
.form-group-vertical .form-control:last-of-type,
.form-group-vertical .input-group.input-group-icon:first-child .form-control,
.form-group-vertical .input-group.input-group-icon:first-of-type .form-control,
.form-group-vertical .input-group.input-group-icon:last-child .form-control,
.form-group-vertical .input-group.input-group-icon:last-of-type .form-control,
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap .select2-dropdown,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field,
.btn-group > .btn-group:nth-child(2) > .multiselect.btn,
.bootstrap-tagsinput,
.datepicker,
.colorpicker,
.note-editor .note-toolbar .btn-group > .btn-group:last-child > .btn:first-child,
.note-editor .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.note-editor .btn-group > .btn:last-child:not(:first-child),
.note-editor .btn-group > .dropdown-toggle:not(:first-child),
.note-editor .btn,
html.boxed .inner-wrapper,
html.boxed .header,
html.boxed .content-body {
	border-radius: 0;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > li > a,
  .nav-tabs-justified > li > a,
  .navbar {
		border-radius: 0;
	};
}

@media (max-width: 479px) {
	.tabs .nav.nav-tabs.nav-justified li:first-child a,
  .tabs .nav.nav-tabs.nav-justified li:first-child a:hover,
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a,
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a:hover {
		border-radius: 0;
	};
}
/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
	background: #d00002;
	border-color: #b70002;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
	color: #d00002;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
	background: #d00002;
	-webkit-box-shadow: 0px 0px 1px #d00002;
	box-shadow: 0px 0px 1px #d00002;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
	background: #d00002;
}
/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
	background: #d00002;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(left, #ff0406 0, #d00002 50%, #9d0002 100%);
	background-image: linear-gradient(left, #ff0406 0, #d00002 50%, #9d0002 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(to right, #ff0406 0, #d00002 50%, #9d0002 100%);
	background-image: linear-gradient(to right, #ff0406 0, #d00002 50%, #9d0002 100%);
}
/* DatePicker */
.datepicker table {
	width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
	background: #d00002;
}

.datepicker table thead tr:first-child th:hover {
	background: #d00002;
}

.datepicker table tr td span:hover {
	background: #d00002;
}

.datepicker table tr td.day:hover {
	background: #d00002;
}

.datepicker table tfoot tr th:hover {
	background: #d00002;
}
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
	background: #d00002;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
	background: #d00002;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
	background: #d00002;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
	background-color: #d00002;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
	background-color: #9d0002;
}

.datepicker.datepicker-primary table thead tr:last-child {
	background-color: #ea0002;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
	background-color: #d00002;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
	background: #d00002;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
	background: #d00002;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
	background: #d00002;
}
/* Wizard */
.wizard-steps > li.active .badge {
	background-color: #d00002;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
	border-top-color: #d00002;
}

.wizard-tabs ul > li.active .badge {
	background-color: #d00002;
}

/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
	background-color: #d00002;
}
/* Data Tables Loading */
.dataTables_processing {
	background-color: #d00002;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
	color: #d00002;
}
